

/* @font-face {
  font-family: 'Cheshirskiy Cat Roman';
  src: url('../fonts/cheshirskiy-cat-roman.ttf') format('truetype');
  font-style: normal;
} */

@font-face {
    font-family: 'Cheshirskiy Cat';
    src: url('../fonts/cheshirskiy-cat-roman.eot');
    src: url('../fonts/cheshirskiy-cat-roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cheshirskiy-cat-roman.woff2') format('woff2'),
         url('../fonts/cheshirskiy-cat-roman.woff') format('woff'),
         url('../fonts/cheshirskiy-cat-roman.ttf')  format('truetype'),
         url('fonts/cheshirskiy-cat-roman.svg#Cheshirskiy Cat') format('svg');
}

/* @font-face {
  font-family: 'Frutiger Neue';
  src: url('../fonts/FrutigerNeueLTW1G-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
    font-family: 'Frutiger Regular';
    src: url('../fonts/FrutigerNeueLTW1G-Regular.eot');
    src: local('Frutiger Neue LT W1G Regular'), local('FrutigerNeueLTW1G-Regular'),
        url('../fonts/FrutigerNeueLTW1G-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FrutigerNeueLTW1G-Regular.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Regular.woff') format('woff'),
        url('../fonts/FrutigerNeueLTW1G-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Bold';
    src: url('../fonts/FrutigerNeueLTW1G-Bold.eot');
    src: local('Frutiger Neue LT W1G Bold'), local('FrutigerNeueLTW1G-Bold'),
        url('../fonts/FrutigerNeueLTW1G-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FrutigerNeueLTW1G-Bold.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Bold.woff') format('woff'),
        url('../fonts/FrutigerNeueLTW1G-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}