.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    position: relative;
}

.hero .main-title {
    font-size: clamp(4rem, 12vw, 10rem);
    z-index: 2;
    text-shadow: 0 10px 20px rgba(0,0,0,0.2);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

main .hero .inside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 2rem; /* Added margin to push the ghost down */
}

.hero-ghost {
    width: 65%;
    max-width: 700px;
    opacity: 1; /* Повна непрозорість */
}

.hero-ghost img {
    display: block;
    max-width: 100%;
    z-index: 1;
    filter: drop-shadow(0 0 30px rgba(255, 255, 255, 0.2)); /* Додаємо легке світіння */
}

@media (max-width: 768px) {
    .hero .main-title {
        font-size: 4rem;
    }

    .hero-ghost {
        width: 90%;
    }
}

