/* дівчина з привидом*/
#s1 .inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    overflow: hidden; /* Ховаємо те, що виходить за межі */
  }

.image-placeholder img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.image-placeholder {
    background: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(255,255,255,0.05));
    border-radius: 20px;
    margin: 3rem 0;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}